@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* font for headings */
h1, h2, h3 {
  font-family: "Chewy", Regular;
}
h4{
      color: #7a6a60;
}
body {
  font-family: "Playpen Sans", cursive;
  font-style: normal;
  background-color: #fff9ef;
  color: #2b1d12;
  margin: 0;
  text-align: center;
}

h1{
     font-size: 2.4em;
  color: #d66c2c;
  margin-bottom: 10px;
}

h2{
  color: #3a2616;
  /* color: #7a6a60; */
  font-size: 1.3em;
  margin-bottom: 14px;
}

p {
  color: #7a6a60;
  /* line-height: 1.6; */
  /* font-size: 1.1em; */
}

header {
  margin: 40px auto 30px;
  padding: 20px;
  max-width: 800px;
  background: linear-gradient(180deg, #ffffff, #fff7e6);
  border: 2px solid rgba(255, 186, 107, 0.6);
  border-radius: 16px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
}



/* === Grid that holds your cards === */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1100px;
  margin: 40px auto 60px;
  padding: 0 20px;
}

/* === Individual cards === */
.card {
  background: #ffffff;
  /* background: linear-gradient(180deg, #ffffff, #fff7e6); */
  border: 3px solid rgba(255, 186, 107, 0.5);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

/* === Card headings === */
.card h2 {
  color: #e07a5f;
  font-size: 1.6em;
  margin-bottom: 10px;
}

/* === Card subheadings === */
.card h4 {
  /* font-size: 1em; */
  /* color: #358c8a; */
    /* color: #2b1d12; */
    color: #7a6a60;
  margin-bottom: 14px;
  font-weight: 600;
}

/* === Images inside the cards === */
.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: transform 0.2s ease;
}



a {
  display: inline-block;         
  padding: 6px 16px;             /* button padding */
  font-size: 15px;
  font-weight: normal;
  font-family: "Playpen Sans";
  text-decoration: none;
  color: white;                  /* TEXT/font color */
  background-color: #358c8a;
  border-radius: 25px;            /* rounded to make it look pill-shaped */
  border: none;
  transition: all 0.3s ease;    
}

/* Hover effect */
a:hover {
  background-color: #358c8a;
  transform: scale(1.05);      /*  zoom a bit when hover */
  font-weight: bold; 
    color: white;
}


